@import "tailwindcss";

@theme {
  --font-sans: "Times New Roman", Times, Baskerville, Georgia, serif;
}

body {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  scroll-behavior: smooth;
  background-color: #fcf9f8;
}

/* Custom scrollbar to match the high-end dark slate vibe */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f3f5;
}
::-webkit-scrollbar-thumb {
  background: #c5c5d3;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00236f;
}
